NODE_ENV=
PORT=
FRONTEND_URL=
DATABASE_URL=
DB_SSL=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASSWORD=
BCRYPT_SALT_ROUNDS=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_COOKIE_NAME=
JWT_REFRESH_COOKIE_PATH=
JWT_REFRESH_COOKIE_SECURE=
JWT_REFRESH_COOKIE_SAME_SITE=

STORAGE_PROVIDER=
MINIO_HOST=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_USERNAME=
MINIO_PASSWORD=
MINIO_BUCKET=
MINIO_PUBLIC_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=